:root {
  --dana-var: #ea6153;
  --h1Normal: normal 400 42px / normal Arial, sans-serif;
  --h1Light: normal 300 42px / normal Arial, sans-serif;
  --h1Bold: normal 700 42px / normal Arial, sans-serif;

  --h2Normal: normal 400 28px / normal Arial, sans-serif;
  --h2Light: normal 300 28px / normal Arial, sans-serif;
  --h2Bold: normal 700 28px / normal Arial, sans-serif;

  --pNormal: normal 400 12px / normal Arial, sans-serif;
  --pLight: normal 300 12px / normal Arial, sans-serif;
  --pBold: normal 700 12px / normal Arial, sans-serif;

  --smallNormal: normal 400 11px / normal Arial, sans-serif;
  --smallLight: normal 300 11px / normal Arial, sans-serif;
  --smallBold: normal 700 11px / normal Arial, sans-serif;

    --b10: #F0F5FF;
    --b20: #2F6FED;
    --b30: #1D5BD6;
    --b40: #1E4EAE;
    
}
