:root {
  --dana-var: #ea6153;
  --h1Normal: normal 400 42px / normal Arial, sans-serif;
  --h1Light: normal 300 42px / normal Arial, sans-serif;
  --h1Bold: normal 700 42px / normal Arial, sans-serif;
}
